<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bwx.qs.battery" android:versionName="0.8.2"
	android:versionCode="201010020" android:sharedUserId="beworx.com">

	<supports-screens android:largeScreens="true" android:anyDensity="true" />

	<application android:icon="@drawable/ic_icon"
		android:label="@string/txt_quick_battery" android:process="beworx.com">

		<receiver android:name=".BatteryWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/battery_widget_info" />
		</receiver>

		<service android:name=".BatteryService">
			<intent-filter>
				<action android:name="com.bwx.qs.battery.BatteryService" />
			</intent-filter>
		</service>

		<activity android:name=".SettingsActivityList"
			android:label="@string/txt_assigned_activity" />

		<activity android:name=".QuickBatteryActivity" android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/txt_quick_battery">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="com.bwx.qs.battery/widget" />
			</intent-filter>
		</activity>

	</application>

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />

</manifest> 